[Package]
version: 3
depends: 

[Product]
type: localboot
id: swaudit
name: Client Software inventory (Windows / Linux)
description: Windows: uninstall informations from registry; Linux: form package system
advice: opsi-script >= 4.11.6.4 needed
version: 4.1.0.0
priority: -90
licenseRequired: False
productClasses: 
setupScript: swaudit.opsiscript
uninstallScript: 
updateScript: 
alwaysScript: swaudit.opsiscript
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: usefilebuffer
multivalue: False
editable: False
description: Save results to file and reread it
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: usekeyfinder
multivalue: False
editable: False
description: Try to find license keys
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: readfromfile
multivalue: False
editable: False
description: ONLY DEBUG - do not use if you are not shure what you doing! (Do not make a audit but read values from c:\opsi.org\tmp and send them)
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: maxloglevel
multivalue: False
editable: False
description: Reduce log file size by setting lower max log level
values: ["3", "4", "5", "6", "7", "8"]
default: ["8"]

[ProductProperty]
type: bool
name: debug_send
description: ONLY DEBUG - Send data using one serviceall per object
default: False

[ProductProperty]
type: unicode
name: win10subversion
multivalue: False
editable: False
description: Windows 10 OS Build (https://docs.microsoft.com/en-us/windows/windows-10/release-information)  on Win10 , Win 2016 , Win2019 or begin of HKLM\Software\Mscrosoft\Windows NT\CurrentVersion] ProductId" for example 00330-71317
values: ["hklmproductid", "win10osbuild"]
default: ["hklmproductid"]

