[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: swaudit
name: Client software inventory
description: Software inventory based on uninstall informations from windows registry
advice: opsi-script >= 4.11.6.4 needed
version: 4.0.7.4
priority: -90
licenseRequired: False
productClasses: 
setupScript: swaudit.opsiscript
uninstallScript: 
updateScript: 
alwaysScript: swaudit.opsiscript
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: usefilebuffer
multivalue: False
editable: False
description: Save results to file and reread it
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: usekeyfinder
multivalue: False
editable: False
description: Try to find license keys
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: readfromfile
multivalue: False
editable: False
description: ONLY DEBUG - do not use if you are not shure what you doing! (Do not make a audit but read values from c:\opsi.org\tmp and send them)
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: maxloglevel
multivalue: False
editable: False
description: Reduce log file size by setting lower max log level
values: ["3", "4", "5", "6", "7", "8"]
default: ["8"]

[ProductProperty]
type: bool
name: debug_send
description: ONLY DEBUG - Send data using one serviceall per object
default: False

[Changelog]
swaudit (4.0.7.4-2) stable; urgency=low

  * max loglevel property added to create the option of limiting log file size

-- rupert roeder <r.roeder@uib.de>  Wed, 25 Jan 2017 14:00:00 +0100

swaudit (4.0.7.4-1) stable; urgency=low

  * fix problems with quatations in uninstall key ( #2481)

-- detlef oertel <d.oertel@uib.de>  Thu, 08 Dec 2016 15:00:00 +0100

swaudit (4.0.7.3-1) stable; urgency=low

  * trim entries to DB field length

-- detlef oertel <d.oertel@uib.de>  Wed, 12 Oct 2016 15:00:00 +0100

swaudit (4.0.7.2-1) stable; urgency=low

  * fix for readfromfile
  * mask single quotes by double single quotes before sending

-- detlef oertel <d.oertel@uib.de>  Wed, 12 Oct 2016 15:00:00 +0100

swaudit (4.0.7.1-1) stable; urgency=low

  * code cleanup
  * complete redesign of webservice connection
  * requires opsi-scrip 4.11.6
  * removed opsi3 support
  * cleanup removed property extended_search
  * removed win2k support
  * usekeyfinder now has default off
  * new property debug_send: Send data using one serviceall per object

-- detlef oertel <d.oertel@uib.de>  Wed, 05 Oct 2016 15:00:00 +0100

swaudit (4.0.6-3) stable; urgency=low

  * use new opsi-script functions if possible:
      isValidUtf8String(str:string) : boolean;
      getFixedUtf8String(str:string) : string;

-- detlef oertel <d.oertel@uib.de>  Mon, 29 Jun 2015 15:00:00 +0100

swaudit (4.0.6-2) stable; urgency=low
  * removed property extended_search (was working on xp only)
-- bardo wolf <b.wolf@uib.de>  26 Nov 2015

swaudit (4.0.6-1) stable; urgency=low
  * back to /saveini instead of savecsv "%SCRIPTPATH%\keyfinder\keyfinder.exe" /close /saveini "c:\opsi.org\tmp\" /file "swaudit_keys.ini
-- bardo wolf <b.wolf@uib.de>  Fri, 29 Oct 2015 12:19:00 +0100

swaudit (4.0.5-3) stable; urgency=low

  * Script fixes for win10
  * Go back to old but open source keyfinder

-- detlef oertel <d.oertel@uib.de>  Mon, 29 Jun 2015 15:00:00 +0100

swaudit (4.0.6-1) experimental; urgency=low

  * Updated keyfinder.

 -- Niko Wenselowski <n.wenselowski@uib.de>  Tue, 07 Apr 2015 10:47:53 +0100

swaudit (4.0.5-2) stable; urgency=low

  * Fix handling of keys containing quotation marks

-- detlef oertel <d.oertel@uib.de>  Wed, 12 Nov 2014 15:00:00 +0100

swaudit (4.0.5-1) stable; urgency=low

  * Fix writing to long entries in sub_create_hash4 by adding to all string values something like "name="+strPart($name$,"1","99")
  * codecleanup
  * changelog to control file

-- detlef oertel <d.oertel@uib.de>  Fri, 01 Aug 2014 15:00:00 +0100

swaudit (4.0.2-3) stable; urgency=low

  * Fix duplicate entry: truncating all parts of the primary key to their max length in the DB: "name="+strPart($name$,"1","99")
  * ScriptErrorMessages = off

 -- detlef oertel <d.oertel@uib.de>  Mon, 05 Aug 2013 15:00:00 +0100


swaudit (4.0.2-2) stable; urgency=low

  * switch to ekeyfinder (https://sourceforge.net/projects/ekeyfinder/)

 -- detlef oertel <d.oertel@uib.de>  Thu, 06 Dec 2012 15:00:00 +0100

swaudit (4.0.2-1) stable; urgency=low

  * code cleanup
  * remove all opsi 3 stuff
  * use opsi-winst 4.11.3 methods
  * extended search off by default (no data at NT6)
  * replace delete by del
  * replace c:\tmp by c:\opsi.org\tmp

 -- detlef oertel <d.oertel@uib.de>  Fri, 10 Aug 2012 15:00:00 +0100


swaudit (4.0-15) testing; urgency=low

  * new property: readfromfile to switch off audit and use the filebuffer files instead
    ONLY DEBUG - do not use if you are not shure what you doing! (Do not make a audit but read values from c:\tmp and send them)

 -- detlef oertel <d.oertel@uib.de>  Fri, 11 May 2012 15:00:00 +0100


swaudit (4.0-14) testing; urgency=low

  * workaround for bug#354 (set version to '' if zero) deleted becaus it is fixed

 -- detlef oertel <d.oertel@uib.de>  Tue, 26 Apr 2012 16:00:00 +0100

swaudit (4.0-13) testing; urgency=low

  * set version to '' if zero - workaround for bug#354

 -- detlef oertel <d.oertel@uib.de>  Tue, 15 Mar 2012 16:00:00 +0100

swaudit (4.0-12) testing; urgency=low

  * new property: usekeyfinder to switch off keyfinder call

 -- detlef oertel <d.oertel@uib.de>  Tue, 29 Nov 2011 16:00:00 +0100


swaudit (4.0-11) experimental; urgency=low

  * ' are now escaped

 -- rupert roeder <r.roeder@uib.de>  Thu, 04 Nov 2011 17:00:00 +0100

swaudit (4.0-10) experimental; urgency=low

  * bugfix, displayname was not newly read

 -- rupert roeder <r.roeder@uib.de>  Thu, 04 Nov 2011 14:00:00 +0100

swaudit (4.0-9) experimental; urgency=low

  * if displayname contains a ' char the part of the name starting with ' is eliminated

 -- rupert roeder <r.roeder@uib.de>  Thu, 03 Nov 2011 12:00:00 +0100


swaudit (4.0-8) stable; urgency=low

  * internal switch for readfromfile (only for debugging: send file data over service)
  * new property usefilebuffer (dirty workaround for strange not handled control chars)

 -- detlef oertel <d.oertel@uib.de>  Tue, 18 Oct 2011 16:00:00 +0100


swaudit (4.0-7) stable; urgency=low

  * retrun failed if write back to server fails workaoround for #219; fixes #218

 -- detlef oertel <d.oertel@uib.de>  Tue, 21 Jan 2011 16:00:00 +0100


swaudit (4.0-6) testing; urgency=low

  * possibility to write results to file
  * sub_get_windows_info works now also at win2k

 -- detlef oertel <d.oertel@uib.de>  Tue, 15 Nov 2010 16:00:00 +0100

swaudit (4.0-5) testing; urgency=low

  * Using ms product id for subVersion field

 -- Jan Schneider <j.schneider@uib.de>  Mon, 27 Sep 2010 12:33:00 +0100


swaudit (4.0-4) testing; urgency=low

  * added property to control use of slowinfocache

 -- detlef oertel <d.oertel@uib.de>  Wed, 15 Sep 2010 16:00:00 +0100


swaudit (4.0-3) testing; urgency=low

  * integrating wmic call for nt6 hotfixes
  * LogLevel optimized

 -- detlef oertel <d.oertel@uib.de>  Tue, 31 Aug 2010 16:00:00 +0100

swaudit (4.0-2) testing; urgency=low

  * bugfix: for opsi 3: ending '}' was set before sub_get_windows_info
  * bugfix: for opsi 3: integrated convert2json
  * bugfix: for opsi 3: double "" removed
  * bugfix: for opsi 3: Opsiservicecall with '' instead of ""
  * bugfix: for opsi 3: no mor recompose of uninstallstring
  * 'last used' and 'usage frequency' removed referring to data privacy compliance
  * added: support for win2k (without reg command)
  * bugfix: ends with fatalError if service call fails, fixes #81

 -- detlef oertel <d.oertel@uib.de>  Wed, 24 Aug 2010 16:00:00 +0100


swaudit (4.0-1) experimental; urgency=low

  * using winst only (swaudit4.ins)

 -- detlef oertel <d.oertel@uib.de>  Wed, 11 May 2010 16:00:00 +0100


swaudit (1.3-4) unstable; urgency=low

  * Added log file

 -- Jan Schneider <j.schneider@uib.de>  Fri,  4 Sep 2009 17:23:54 +0200



swaudit (1.3-4) unstable; urgency=low

  * Added log file

 -- Jan Schneider <j.schneider@uib.de>  Fri,  4 Sep 2009 17:23:54 +0200

swaudit (1.3-3) unstable; urgency=low

  * Compiled using py2exe

 -- Jan Schneider <j.schneider@uib.de>  Tue,  4 Aug 2009 12:03:13 +0200

swaudit (1.3-2) experimentel; urgency=low

  * exe-Version mit eingeschaltetem DEBUG

 -- Erol Ueluekmen <e.ueluekmen@uib.de>  Thu,  17 May 2009 18:36:03 +0200

swaudit (1.3-1) stable; urgency=low

  * exe-Version

 -- Erol Ueluekmen <e.ueluekmen@uib.de>  Thu,  9 Apr 2009 13:43:03 +0200

swaudit (1.2.3-3) stable; urgency=low

  * get installed os
  * some bugfixes in charset de/encoding

 -- Jan Schneider <j.schneider@uib.de>  Mon, 16 Mar 2009 15:15:27 +0100












